<?xml version="1.0"?>
<robot name="LargeCone">


  <link name="cone">
    <inertial>
      <mass value="0.032"/>
      <origin xyz="0.0 0.0 0.0"/>
      <inertia ixx="18.193e-6" ixy="0." ixz="0." iyy="18.193e-6" iyz="0." izz="35.848e-6"/>
    </inertial>

    <contact>
      <lateral_friction value="0.1"/>
      <rolling_friction value="0.001"/>
      <!-- <stiffness value="30000"/> -->
      <!-- <damping value="1000"/> -->
    </contact>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/nazir/learning_rockwalk/models/mesh/end_effector.obj"/>
      </geometry>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="/home/nazir/learning_rockwalk/models/mesh/end_effector_vhacd.obj"/>
      </geometry>
    </collision>

  </link>

</robot>
